
@model IEnumerable<ServiceOne.Models.TEMPLATE_SURAT>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSurat.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Template Surat</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs align-items-end card-header-tabs w-100">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <i class="far fa-file-alt mr-2"></i>Template Surat
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Create", "SuratKeluar")">
                                    <i class="fas fa-plus mr-2"></i>Buat Template
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="example1" class="table dataTable no-footer dtr-inline collapsed table-responsive">
                            <thead>
                                <tr>
                                    <th width="3%">#</th>
                                    <th width="3%"></th>
                                    <th>Kode Surat</th>
                                    <th>Jenis Surat</th>
                                    <th>Status</th>
                                    <th>Tanggal</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="action"><input type="checkbox" /></td>
                                        <td class="action">#</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.kode_surat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.jenis_surat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.created_at)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", new {id = item.id})" class="btn btn-link text-primary"><i class="far fa-edit"></i></a>
                                            <a class="btn btn-link text-danger deleteUser"><i class="fa fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.col-md-2 -->

        </div>
        <!-- /.row -->

    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
