
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Roles & Permissions</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="http://localhost/restaurant/public/settings/app/globals" class="nav-link ">
                    <i class="fa fa-inbox"></i> Permissions
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Menus")" class="nav-link ">
                    <i class="fa fa-inbox"></i> Menus
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Roles")" class="nav-link ">
                    <i class="fa fa-inbox"></i> Roles
                </a>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("Index", "Users")" class="nav-link ">
                    <i class="fa fa-users"></i> Users
                </a>
            </li>

        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Global Settings</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="@Url.Action("Global", "Settings")" class="nav-link ">
                    <i class="fa fa-cog"></i> Global Settings
                </a>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("Localisation", "Settings")" class="nav-link ">
                    <i class="fa fa-language"></i> Localisation
                </a>
            </li>

            <li class="nav-item">
                <a href="http://localhost/restaurant/public/settings/app/social" class="nav-link ">
                    <i class="fa fa-globe"></i> Social Authentication
                </a>
            </li>

            <li class="nav-item">
                <a href="http://localhost/restaurant/public/settings/app/payment" class="nav-link ">
                    <i class="fa fa-credit-card"></i> Payment
                </a>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("Notifications", "Settings")" class="nav-link ">
                    <i class="fa fa-bell"></i> Push Notifications
                </a>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("Mail", "Settings")" class="nav-link ">
                    <i class="fa fa-envelope"></i> Mail
                </a>
            </li>

            <li class="nav-item">
                <a href="http://localhost/restaurant/public/settings/translation/en" class="nav-link ">
                    <i class="fa fa-language"></i> Translation
                </a>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("Index", "MasterFields")" class="nav-link ">
                    <i class="fa fa-list"></i> Master Fields
                </a>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("Index", "Departments")" class="nav-link ">
                    <i class="fa fa-list"></i> Departments
                </a>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("Index", "Devisions")" class="nav-link ">
                    <i class="fa fa-list"></i> Devisions
                </a>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("Index", "Employees")" class="nav-link ">
                    <i class="fa fa-list"></i> Employees
                </a>
            </li>

        </ul>
    </div>
</div>