
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Menu Email</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="@Url.Action("Inbox", "Emails")" class="nav-link ">
                    <i class="fas fa-envelope-open-text"></i> Inbox
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Sent", "Emails")" class="nav-link ">
                    <i class="fas fa-paper-plane"></i> Sent
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Compose", "Emails")" class="nav-link ">
                    <i class="fas fa-clock"></i> Compose
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Snoozed", "Emails")" class="nav-link ">
                    <i class="fas fa-clock"></i> Snoozed
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Important", "Emails")" class="nav-link ">
                    <i class="far fa-bookmark"></i> Important
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Starred", "Emails")" class="nav-link ">
                    <i class="fas fa-star"></i> Starred
                </a>
            </li>
        </ul>
    </div>
</div>
