@model ServiceOne.Models.ZONA

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMap.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Edit Zona</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs align-items-end card-header-tabs w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Zonasi")">
                                    <i class="fa fa-list mr-2"></i>Zonasi List
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <i class="fa fa-edit mr-2"></i>Edit Zona
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        @using (Html.BeginForm("Edit", "Zona", FormMethod.Post, new { @class = "form" }))
                        {
                            @Html.HiddenFor(model => model.id)
                            <div class="form-group row">
                                <label for="area_name" class="col-2 control-label text-right">Area Name</label>
                                <div class="col-10">
                                    @Html.EditorFor(model => model.area_name, new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="form-text text-muted">
                                        @Html.ValidationMessageFor(model => model.area_name, "", new { @class = "text-danger" })
                                        Insert area_name
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-2 control-label text-right">Address</label>
                                <div class="col-10">
                                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="form-text text-muted">
                                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                        Insert address
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="username" class="col-2 control-label text-right">Description</label>
                                <div class="col-10">
                                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="form-text text-muted">
                                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                        Insert description
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="latitude" class="col-2 control-label text-right">Latitude</label>
                                <div class="col-10">
                                    @Html.EditorFor(model => model.latitude, new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="form-text text-muted">
                                        @Html.ValidationMessageFor(model => model.latitude, "", new { @class = "text-danger" })
                                        Insert latitude
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="longitude" class="col-2 control-label text-right">Longitude</label>
                                <div class="col-10">
                                    @Html.EditorFor(model => model.longitude, new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="form-text text-muted">
                                        @Html.ValidationMessageFor(model => model.longitude, "", new { @class = "text-danger" })
                                        Insert longitude
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="radius" class="col-2 control-label text-right">Radius</label>
                                <div class="col-10">
                                    @Html.EditorFor(model => model.radius, new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="form-text text-muted">
                                        @Html.ValidationMessageFor(model => model.radius, "", new { @class = "text-danger" })
                                        Insert radius
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-12 text-right">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Save
                                </button>
                                <a href="@Url.Action("Index")"  class="btn btn-default"><i class="fa fa-undo"></i> Cancel</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs align-items-end card-header-tabs w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    <i class="fa fa-list mr-2"></i>Map
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <div class="form-group row">
                            <div id="map_canvas">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyC7hnOg4ZpkjjymjSHuyYXATZZahN5rqdM"></script>

<script type="text/javascript">
    var map;

    $(document).ready(function () {
        //WHERE TO CENTER YOUR MAP
        var title = "@Model.area_name";
        var lat = "@Model.latitude";
        var lon = "@Model.longitude";
        var radius = @Model.radius;

        var latlng = new google.maps.LatLng(lat, lon);
        var myOptions = {
            zoom: 18,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        marker = new google.maps.Marker(
            { position: latlng, map: map, title: title }
        );

        var CicleOption = {
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: latlng,
            radius: radius
        };

        new google.maps.Circle(CicleOption);

        // To add the marker to the map, call setMap();
        marker.setMap(map);

    });
</script>
